.widget-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 0px;
  right: 10px;
  width: 100%;
  max-width: 500px;
  border: 2px solid #12131b;
  border-radius: 8px;
  background-color: #2d3141;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 1, 0.5);
  z-index: 999;
}




.currency-bar {
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  padding: 5px;
  background-color: #1a1c27;
  z-index: 10;
  border-bottom: 2px solid #12131b;
  }

.wishlist-panel{
  height: 400px;
  padding: 12px 16px;
  flex-grow: 1;
  overflow-y: auto; 
  overscroll-behavior: contain;
}

.wishlist-panel::-webkit-scrollbar {
  background-color: #2d3141;
}

.wishlist-panel::-webkit-scrollbar-track {
  background: #12131b;
}

.wishlist-panel::-webkit-scrollbar-thumb {
  background: #1a1c27;
  border-radius: 4px;
}

.nom-crate-icon {
  height: 50px;
  width: 50px;
}

.left-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.currency-bar > button {
  width: fit-content;
  height: 40px;
  padding: 10px;
  color: #e1e1e1;
  background-color: #2d3141;
  border-style: none;
  border-radius: 4px;
}

.collapsible {
  overflow: hidden;
  transition: height 0.3s ease;
}

@media (max-width: 768px) {
  .widget-container {
    width: 50%;
  }
}

@media (max-height: 600px) {
  .wishlist-panel {
    height: 200px;
  }
}