.identity-card {
	display: grid;
  position: relative;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  color: white;
  user-select: none;

  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px  1px 0 #000,
    1px  1px 0 #000;
}

.card-details {
  overflow: hidden;
}

.card-details,
.card-interactables {
	grid-column: 1;
	grid-row: 1;
}

.identity-card.widget {
  width: 75px;
  height: 100px;
  transform-origin: top left;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.identity-name {
  width: 100%;
  position: absolute;
  bottom: 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.identity-rarity,
.identity-name,
.identity-status {
  padding: 10px;
  font-size: 14px;
  pointer-events: none;
}

.identity-status.owned {
  color: #228B22;
}

.identity-status.wishlisted {
  color: #daa520;
}

.identity-status.unowned{
  color: #dc143c;
}

.widget > .card-details{
  visibility: hidden;
}

.identity-card img{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: -1;
  filter: brightness(50%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.identity-card:hover img {
  transform: scale(1.05);
  filter: brightness(60%);
}

.card-interactables {
	transition: opacity  0.3s ease;
	opacity: 0;
  scale: 1.05;
	z-index: 10;
}

.card-interactables:hover {
	opacity: 1;
}

.card-interactable {
  width: 100%;
  height: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 1.20em;
	font-weight: bold;
	background-color: rgb(0, 0, 0, 0.6);
	filter: brightness(60%);
	transition: background-color 0.3s ease, filter 0.3s ease;
}

.card-interactable:hover {
	background-color: rgb(0, 0, 0, 0.8);
  filter: brightness(100%);
}

.identity-card.widget .card-interactable {
  width: 100%;
  height: 50%;
  font-size: 0.6em;
}

.card-interactable > span {
	pointer-events: none;
  user-select: none;
}

.card-interactable.top {
  border-radius: 10px 10px 0 0;
}

.card-interactable.bottom {
  border-radius: 0 0 10px 10px;
}

.single {
  border-radius: 10px;
  height: 100%;
}