.identity-card {
    position: relative;
    width: 150px;
    height: 175px;
    border-radius: 10px;
    background-color: rgb(33, 33, 51);
    color: white;
}

.identity-name {
    position: absolute;
    bottom: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.identity-rarity,
.identity-name {
    padding: 10px;
    font-size: 16px;
}