.identity-card {
    position: relative;
    width: 150px;
    height: 200px;
    border-radius: 10px;
    color: white;
    overflow: hidden;
}

.identity-card.widget {
  max-width: 75px;
  max-height: 100px;
  transform-origin: top left;
}

.identity-name {
    position: absolute;
    bottom: 0px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.identity-rarity,
.identity-name {
    padding: 10px;
    font-size: 16px;
    pointer-events: none;
}

.widget > .identity-name,
.widget > .identity-rarity {
    visibility: hidden;
}

.identity-card img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    z-index: -1;
    filter: brightness(50%);
    transition: filter 0.3s ease, transform 0.3s ease;
}

.identity-card:hover img {
    transform: scale(1.05);
    filter: brightness(60%);
}