.identity {
    position: relative;
    width: 150px;
    height: 175px;
    border-radius: 2px;
    background-color: rgb(33, 33, 51);
}

.identity-name {
    position: absolute;
    font-size: 16px;
    bottom: 0px;
    text-align: left;
    padding: 10px;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}

.identity-rarity {
    padding: 10px;
    color: white;
}