button {
  height: 50000px;
}

.filter-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 18px;
  color: white;
}

.filter-btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.search-filter-container {
  height: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.search-filter-container > button {
  height: 100%;
}