.filter-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  font-size: 18px;
  color: white;
}

.filter-btns-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.search-filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.filter-btns-section {
  font-size: 16px;
}

.filter-account-state {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
