.widget-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 20px;
    right: 20px;
    height: 400px;
    width: 500px;
    border: #12131b 2px solid;
    border-radius: 8px;
    background-color: #2d3141;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0,0,0.5);
    z-index: 999;
}

.currency-bar {
    position: sticky;
    top: 0;
    height: 150px;
    width: 100%;
    background-color: #1a1c27;
    z-index: 10;
    border-bottom: 2px solid #12131b;
}

.wishlist-panel{
    padding: 12px 16px;
    flex-grow: 1;
    overflow-y: auto; 
    overscroll-behavior: contain;
}

.wishlist-panel::-webkit-scrollbar {
  background-color: #2d3141;
}

.wishlist-panel::-webkit-scrollbar-track {
  background: #12131b;
}

.wishlist-panel::-webkit-scrollbar-thumb {
  background: #1a1c27;
  border-radius: 4px;
}