:root {
  --sidebar-width: 200px;
}

@media (max-width: 425px) {
  :root {
    --sidebar-width: 100px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #232A32;
  font-family: sans-serif;
  color: white;
}

.layout {
  display: flex;
  flex-direction: row;
}

.content-wrapper {
  margin-top: 50px;
  margin-left: calc(50px + var(--sidebar-width))
}

.hbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.title,
.main-content section {
  margin-bottom: 20px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 5px;
}