* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 40px;
  background-color: #232A32;
  font-family: sans-serif;
  color: white;
}

.hbox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.vbox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 10px;
}

.title,
.main-content section {
  margin-bottom: 20px;
}

.title {
  font-size: 32px;
}

.section-title {
  font-size: 20px;
  margin-bottom: 5px;
}